<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.zozm">

    <application
        android:name=".ZOZMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CartActivity"></activity>
        <activity android:name=".activities.EightCatagoryItemsActivity" />
        <activity android:name=".activities.SeventhCatagoryItemsActivity" />
        <activity android:name=".activities.SixthCatagoryItemsActivity" />
        <activity android:name=".activities.FifthCatagoryItemsActivity" />
        <activity android:name=".activities.ForthCatagoryItemsActivity" />
        <activity android:name=".activities.ThirdCatagoryItemsActivity" />
        <activity android:name=".activities.SecondCatagoryItemsActivity2" />
        <activity android:name=".activities.FirstCatagoryItemsActivity" />
        <activity android:name=".activities.PaperItemActivity" />
        <activity android:name=".activities.OrderActivity" />
        <activity android:name=".activities.BankDetailActivity" />
        <activity android:name=".activities.ItemCatagoryActivity" />
        <activity android:name=".activities.VersionActivity" />
        <activity android:name=".activities.TermConditionActivity" />
        <activity android:name=".activities.ContactUsActivity" />
        <activity android:name=".activities.TermofUseActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>